

/*
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #151E37;
}

::-webkit-scrollbar-thumb{
    background-color: #273047;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #343F5C;
}
*/